        body, .card, header, footer, .navbar {
            transition: background-color 0.5s ease, color 0.5s ease;
        }


        .fade-img {
            opacity: 1;
            transition: opacity 0.4s ease-in-out;
        }

        .fade-img.hidden {
            opacity: 0;
        }

        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }